@model ApplicationMVC.Models.Post

@{
	ViewBag.Title = "Details";
}

<div id="mainContent">
	<article id="article">
		<h2>Details</h2>

		<div>
			<h4>Post</h4>
			<hr />
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor(model => model.Title)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Title)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.AuthorName)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.AuthorName)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.SiteAddress)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.SiteAddress)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.PublishDate)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.PublishDate)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Body)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Body)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.image)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.image)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.video)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.video)
				</dd>

			</dl>
		</div>
		<p>
			@Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
			@Html.ActionLink("Back to List", "Manage")
		</p>
</article>
</div>