@model IEnumerable<ApplicationMVC.Models.Post>

@{
	ViewBag.Title = "Manage";
}
<div id="mainContent">
	<article id="article">

		<h2>Manage</h2>

		<p>
				@Html.ActionLink("Add new post", "Create")
		</p>
		
		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AuthorName)
				</th>
				@*<th>
						@Html.DisplayNameFor(model => model.SiteAddress)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PublishDate)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Body)
					</th>
					<th></th>
				*@
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AuthorName)
					</td>
					@*<td>
							@Html.DisplayFor(modelItem => item.SiteAddress)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PublishDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Body)
						</td>
					*@
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
						@Html.ActionLink("Details", "Details", new { id = item.PostID }) |
						@Html.ActionLink("Delete", "Delete", new { id = item.PostID }) |
						@Html.ActionLink("Comments", "CommentsOfPost", new { id = item.PostID }) |

					</td>
				</tr>
			}

		</table>
</article>
</div>